.TaskTypes {
  text-align: center;
  width: 30rem;
  margin: 2rem auto;
  max-width: 80%;
  text-align: center;
}

.TaskTypes input {
  font: inherit;
  padding: 0.1rem 0.25rem;
  border: none;
  border-bottom: 2px solid #ccc;
  margin-bottom: 1rem;
  width: 80%;
}

.TaskTypes label {
  display: block;
}

.TaskTypes h3 {
  margin-top: 6px;
}
